<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/style.mine.css' />
	<script type="text/javascript" src="/javascripts/jquery-v1.8.2.js"></script>
	<script type="text/javascript" src="/javascripts/viewAnimations.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
		<% for(i=0;i<data.length; i++){ %>
			<article>
				<dt><a href="/<%= data[i]._id %>"><%= data[i].title %></a></dt>
				
				<dd><%= data[i].body %></dd>
				<dd><%= data[i].created_at %></dd>

			<% for(j=0; j<data[i].comments.length; j++){%>
				<dd>
					<article>
						<dt>Author: <%= data[i].comments[j].author %></dt>
						<dd>Comment: <%= data[i].comments[j].comment %></dd>
					</article>
				</dd>
			</article>
		<%} %>
		<%} %>
		<strong id="addNew">Add New!</strong>
		<div class="addNew hidden">
			<h1 >Add New</h1>
		    <form method="post" id="theForm">
		    	Title: <input type="text" name="title" />
				Body: <input type="text" name="body" />
				<input type="submit" value="Post">
		    </form>
		</div>
  </body>
</html>